

<section class="banner">
    <h1>Save any kind of movies</h1>
    <p>Genres</p>
    <%= link_to  "Create a new list", "lists/new", class:"btn-bgstroke"%>
</section>

<ul class="cards">
  <% @lists.each do |list| %>
    <li class="cards__item">
    <div class="card">
      <div class="card__image">
      <div class="card__image card__image--movie_time">
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="card__content">
        <div class="card__title"><%= list.name %></div>
        <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare sapien at condimentum aliquam. Maecenas sit amet diam ligula. Quisque commodo justo eget nulla ullamcorper ultricies. Nulla sed turpis viverra, efficitur sem ac, cursus tortor. Fusce maximus, lectus non mattis porta, urna lorem consequat tellus</p>
        <%= link_to "see more", list_path(list), class:"btn btn--block card__btn" %>
      </div>
    </div>
  </li>
<% end %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
</ul>